<!DOCTYPE html>
<html ng-app='FruitsandVeggies'>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruits_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller='ListCtrl'>
        <div class="container">
            <h1>Fruit and Veggies</h1>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Fruits</h2>
                    <div ng-repeat='item in fruitsList track by $index' class='well well-lg text-center'>
                       { item }}
                      <button class='btn btn-success btn-right' ng-click='addFruitToPool()'>&rarr;</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>Pool</h2>
                        <div ng-repeat='item in poolList track by $index' class='well well-lg text-center'>
                        <button class='btn btn-success btn-left' ng-click='addFruitItem()'>&larr;</button>
                            {{ item }}
                        <button class='btn btn-success btn-right' ng-click='addVegItem()'>&rarr;</button>
                        </div>
                </div>
                <div class="col-sm-4">
                    <h3>Veggies</h2>
                    <div ng-repeat='item in vegList track by $index' class='well well-lg text-center'>
                      <button class='btn btn-success btn-left' ng-click='addVegToPool()'>&larr;</button>
                      {{ item }}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
